.glass {
  background: rgba(
    255,
    255,
    255,
    0.75
  ); /* Slightly opaque white background for better contrast */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* Default styles (mobile) */
  @apply w-[90%] py-10 px-4;

  /* Small screens (sm) and above */
  @apply sm:w-[80%] sm:py-12 sm:px-5;

  /* Medium screens (md) and above */
  @apply md:w-[60%] md:py-16 md:px-6;

  /* Large screens (lg) and above */
  @apply lg:w-[50%] lg:py-20 lg:px-7;

  /* Extra large screens (xl) and above */
  @apply xl:w-[40%] xl:py-20 xl:px-7;

  /* 2XL screens and above */
  @apply 2xl:w-[35%] 2xl:py-20 2xl:px-8;
}

.profile_img {
  @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
  @apply hover:border-gray-200;
}

.textbox {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* White background for the input fields */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Light border for better visibility */
  @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
  @apply focus:outline-none;
}

.btn {
  @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover {
  background-color: #ff6a6a;
}

input[type="file"] {
  display: none;
}
